asgiref==3.9.1
Django==5.2.6
sqlparse==0.5.3
tzdata==2025.2
gunicorn==23.0.0
setuptools==80.9.0
whitenoise==6.5.0
dj-database-url==2.3.0
psycopg[binary]==3.3.4
django-storages[s3]==1.14.6
boto3==1.43.73
